@font-face {
  font-family: MarbSans;
  src: url(/fonts/marb-sans-regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: MarbSans;
  src: url(/fonts/marb-sans-bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: MarbSerif;
  src: url(/fonts/marb-serif-regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: MarbSerif;
  src: url(/fonts/marb-serif-regular-italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: MarbSerif;
  src: url(/fonts/marb-serif-bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: MarbSerif;
  src: url(/fonts/marb-serif-bold-italic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: MarbMono;
  src: url(/fonts/marb-mono-regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-black: 300 7% 3%;
  --color-orange: 18 83% 47%;
  --color-light-green: 120 4% 77%;
  --color-blue: 212 88% 48%;
  --color-blue-light: 212 88% 60%;

  --color-foreground: var(--color-black);
  --color-background: var(--color-light-green);
  --color-links: hsl(var(--color-blue));
  --color-links-hover: hsl(var(--color-blue-light));
  --font-body: MarbSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

/* :focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: hsl(var(--color-foreground));
  background: linear-gradient(
    -160deg,
    hsl(var(--color-background) / 0.05),
    hsl(var(--color-background) / 0.45)
  );
  background-attachment: fixed;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input:where([type="text"]),
input:where([type="search"]) {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

.root {
  position: relative;
}

.logo {
  color: #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 9999;
}

.logo:hover {
  color: hsl(300 7% 3%);
}

.logo svg {
  display: block;
  width: 2rem;
}

@media screen and (min-width: 53rem) {
  .logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
}
