.container {
  position: relative;
}

.logo {
  color: #fff;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.logo:hover {
  color: hsl(300 7% 3%);
}

.logo svg {
  display: block;
  width: 2rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 34rem 1fr 1fr;
  grid-template-rows: 30vh auto auto;
  columngap: 0;
}

.main::before {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  right: 10rem;
  width: 1px;
  height: 6rem;
  background: hsl(18 83% 47%);
}

.header {
  grid-column: 2 / span 2;
  grid-row: 2;
  margin: 0 0 5rem;
}

.title {
  line-height: 1;
  font-size: 3rem;
  letter-spacing: -0.033em;
  position: relative;
  margin: 0;
}

.created {
  display: block;
  font-size: 1rem;
  color: hsl(300 7% 3% / 0.4);
  margin-top: 0.5rem;
}

.status {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.status > div {
  font-size: 0.9rem;
  line-height: 1;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  user-select: none;
}

.status div :first-child {
  margin-bottom: 0.25rem;
  color: hsl(300 7% 3% / 0.66);
}

.status div :last-child {
  color: hsl(300 7% 3% / 0.33);
}

.status svg {
  width: 1.75rem;
  color: hsl(18 83% 47%);
  cursor: help;
}

.status svg:hover + div {
  opacity: 1;
}

.title span {
  color: hsl(300 7% 3%);
  background: linear-gradient(
    to left,
    hsl(18 83% 20%),
    hsl(18 83% 5%) 30%,
    hsl(300 7% 3% / 0.9) 60%,
    hsl(300 7% 3%) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  grid-column: 2;
  grid-row: 3;
  font-family: MarbSerif;
  color: hsl(300 7% 3% / 0.7);
  margin-bottom: 1.75rem;
}

.content p {
  margin-bottom: 1.75em;
}

.content h2 {
  font-family: MarbSans;
  font-size: 1.75rem;
  color: hsl(300 7% 3% / 0.9);
  margin: 3.5rem 0 1.75rem;
  letter-spacing: -0.02em;
}

.content ul {
  margin: 0 0 1.75em;
  padding: 0;
}

/* .content li {
    list-style-type: "👉";
    padding-inline-start: 1ch;
  } */

.content li::marker {
  content: "› ";
  color: hotpink;
}

hr.separator {
  margin: 3.5em auto;
  max-width: 50%;
  border: 0;
  background: linear-gradient(
    to right,
    hsl(300 7% 3% / 0.18),
    hsl(300 7% 3% / 0.1)
  );
  height: 1px;
}

.read-next {
  position: absolute;
  left: 90vw;
  bottom: 0;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.read-next h2 {
  font-size: 0.8rem;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 0 0 0.5rem;
  color: hsl(300 7% 3% / 0.33);
}

.read-next a {
  color: hsl(300 7% 3% / 0.9);
  line-height: 1.25;
  font-weight: bold;
  text-decoration: none;
}

.read-next a:hover {
  color: hsl(18 83% 47%);
}
