.post {
  --accent-color: 219, 80, 20;
  grid-column: 2;
}

.post::before {
  content: "";
  display: none;
  position: fixed;
  bottom: 0;
  right: 12vw;
  width: 1px;
  height: 6rem;
  background: linear-gradient(
    to bottom,
    rgba(var(--accent-color), 0.5),
    rgba(var(--accent-color))
  );
}

.header {
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 5rem;
}

.title {
  line-height: 1;
  font-size: 4rem;
  letter-spacing: -0.045em;
  position: relative;
  margin: 0;
}

.title span {
  color: hsl(var(--color-black));
  background: linear-gradient(
    to right,
    hsl(var(--color-black)) 0%,
    hsl(var(--color-black) / 0.9) 60%,
    rgba(var(--accent-color), 0.8)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0.1ch;
}

.created {
  display: block;
  font-family: MarbMono;
  font-size: 0.8rem;
  color: hsl(var(--color-black) / 0.5);
  margin-top: 2rem;
}

.content {
  grid-column: 1;
  grid-row: 3;
  font-family: MarbSerif;
  font-size: 1.25rem;
  line-height: 1.6;
  color: hsl(var(--color-black) / 0.7);
  margin-bottom: 1.6rem;
}

.content p {
  margin-bottom: 1.6em;
}

.content h2 {
  font-family: MarbSans;
  font-size: 2rem;
  color: hsl(var(--color-black) / 0.9);
  margin: 3.2rem 0 1.6rem;
  letter-spacing: -0.033em;
}

.content h3 {
  font-family: MarbSans;
  font-size: 1.5rem;
  color: hsl(var(--color-black) / 0.8);
  margin: 1.6rem 0 0;
  letter-spacing: -0.033em;
}

.content ul,
.content ol {
  margin: 0 0 2rem;
  padding: 0 0 0 2rem;
  line-height: 1.5;
}

.content ul li p,
.content ol li p {
  margin: 0;
}

.content ul li + li,
.content ol li + li {
  margin-top: 1rem;
}

.content ul li::marker,
.content ol li::marker {
  color: #db5014;
}

.content ul li::marker {
  content: "› ";
}

hr.separator {
  margin: 3.5em auto;
  max-width: 50%;
  border: 0;
  background: linear-gradient(
    to right,
    hsl(var(--color-black) / 0.18),
    hsl(var(--color-black) / 0.1)
  );
  height: 1px;
}

.content a {
  color: rgba(var(--accent-color));
  background: linear-gradient(
    to right,
    rgba(var(--accent-color)),
    rgba(var(--accent-color)) 33%,
    rgba(var(--accent-color), 0.66)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 200ms ease-in-out, border 200ms ease-in-out;
  border-bottom: 1px solid transparent;
  display: inline-block;
  line-height: 1.15;
}

.content a:hover {
  background-color: rgba(var(--accent-color));
  border-color: rgba(var(--accent-color), 0.33);
}

.content strong {
  color: hsl(var(--color-black) / 0.85);
}

.content blockquote {
  padding: 4rem 2rem 0 0;
  font-family: MarbSerif;
  color: hsl(var(--color-black));
  margin: 0 0 3rem;
  line-height: 1.66;
  font-size: 1.5rem;
  letter-spacing: -0.01em;
  position: relative;
}

.content blockquote:before {
  content: "“";
  display: block;
  font-family: MarbSans;
  font-size: 5em;
  line-height: 1;
  color: rgba(var(--accent-color));
  position: absolute;
  top: 0;
  left: 0;
}

.content blockquote p {
  margin: 0;
}

.content blockquote p + p {
  margin-top: 0.5rem;
}

.content blockquote footer {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: MarbSans;
  color: hsl(var(--color-black) / 0.5);
}

.content blockquote footer:before {
  content: "—";
  display: inline-block;
  padding-right: 0.25rem;
}

@media screen and (min-width: 53rem) {
  .post {
    display: grid;
    grid-template-columns: 34rem 1fr;
    grid-template-rows: 30vh auto auto;
  }

  .title {
    font-size: 5rem;
  }

  .created {
    font-size: 0.95rem;
    margin-top: 1.25rem;
  }

  .content h2 {
    font-size: 2.2rem;
  }

  .content blockquote {
    padding-top: 4.5rem;
  }
}

@media screen and (min-width: 62em) {
  .post::before {
    display: block;
  }
}
