.container {
  display: grid;
  grid-template-columns: minmax(17rem, 1fr) minmax(34rem, 3fr);
  column-gap: 0;
}

.post {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 34rem 1fr;
  grid-template-rows: 30vh auto auto;
}

.post::before {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  right: 10rem;
  width: 1px;
  height: 6rem;
  background: hsl(var(--color-orange));
}

.series {
  grid-column: 1;
  grid-row: 1;
  padding: 15vh 3rem 1rem 4rem;
  position: relative;
}

.series-content {
  position: sticky;
  top: 15vh;
}

.header {
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 5rem;
}

.title {
  line-height: 1;
  font-size: 3rem;
  letter-spacing: -0.033em;
  position: relative;
  margin: 0;
}

.title span {
  color: hsl(300 7% 3%);
  background: linear-gradient(
    to left,
    hsl(18 83% 20%),
    hsl(18 83% 10%) 33%,
    hsl(var(--color-black) / 0.9) 60%,
    hsl(var(--color-black)) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.created {
  display: block;
  font-size: 1rem;
  color: hsl(var(--color-black) / 0.33);
  margin-top: 1rem;
}

.content {
  grid-column: 1;
  grid-row: 3;
  font-family: MarbSerif;
  font-size: 1.1875rem;
  color: hsl(var(--color-black) / 0.75);
  margin-bottom: 1.75rem;
}

.content p {
  margin-bottom: 1.75em;
}

.content h2 {
  font-family: MarbSans;
  font-size: 2rem;
  color: hsl(var(--color-black) / 0.9);
  margin: 3.5rem 0 1.75rem;
  letter-spacing: -0.02em;
}

.content ul {
  margin: 0 0 1.75em;
  padding: 0;
}

.content li + li {
  margin-top: 0.5rem;
}

.content li::marker {
  content: "› ";
  color: #db5014;
}

hr.separator {
  margin: 3.5em auto;
  max-width: 50%;
  border: 0;
  background: linear-gradient(
    to right,
    hsl(var(--color-black) / 0.18),
    hsl(var(--color-black) / 0.1)
  );
  height: 1px;
}

.series-title {
  font-size: 0.85em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 0.75rem;
  margin: 0 0 1.5rem;
  color: hsl(var(--color-black) / 0.33);
  position: relative;
}

.series-title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.5rem;
  height: 1px;
  background-color: hsl(var(--color-black) / 0.15);
}

.series-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.series-list li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.series-list li a {
  color: hsl(var(--color-black) / 0.4);
  transition: color 200ms ease-in-out;
}

.series:hover .series-list li a {
  color: hsl(var(--color-black) / 0.7);
}

.series-list li a.is-active,
.series:hover li a.is-active {
  color: hsl(var(--color-black) / 0.2);
}
