.container {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 34rem) minmax(
      1.5rem,
      1fr
    );
  column-gap: 0;
}

.series {
  grid-column: 2;
  grid-row: 1;
  margin-top: 15vh;
}

.series-title {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: hsl(var(--color-black) / 0.55);
  margin: 0;
}

.series-title span {
  color: hsl(var(--color-black) / 0.33);
}

.series-title:before {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.5rem;
  height: 1px;
  background-color: hsl(var(--color-black) / 0.15);
}

.series-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.series-list li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.series-list li a {
  color: hsl(var(--color-black) / 0.4);
  transition: color 200ms ease-in-out;
}

.series:hover .series-list li a {
  color: hsl(var(--color-black) / 0.7);
}

.series-list li a.is-active,
.series:hover li a.is-active {
  color: hsl(var(--color-black) / 0.3);
  cursor: default;
  text-decoration: none;
  position: relative;
}

.series-list li a.is-active:before {
  content: "› ";
  display: block;
  position: absolute;
  right: 100%;
  padding-right: 0.33rem;
  color: hsl(var(--color-black) / 0.5);
}

.series-art {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 10rem;
  opacity: 0.33;
  -webkit-mask-image: linear-gradient(210deg, black, transparent);
}

@media screen and (min-width: 53rem) {
  .container {
    grid-template-columns: minmax(17rem, 1fr) minmax(34rem, 3fr);
    margin: 0;
  }

  .series {
    grid-column: 1;
    padding: 32vh 3rem 1rem 4rem;
    position: relative;
    margin-top: 0;
  }

  .series-content {
    position: sticky;
    top: 10vh;
  }

  .series-title {
    font-size: 0.85rem;
    padding-bottom: 0.75rem;
    margin-bottom: 1.5rem;
    position: relative;
  }

  .series-title span {
    display: block;
  }

  .series-title:before {
    display: block;
  }

  .series-list {
    display: block;
  }

  .series-art {
    display: block;
  }
}
